<%# header.html #%>

<div class="mon">
    <img src="http://mcdong.u.qiniudn.com/backpng.png">
</div>
<div class="pageone">
    <div class="head"></div>
    <div class="baseinfo">
        <p>方玉昕 Web前端</p>
        <p class="info">
            <span>TEL : 15122913505</span>
            <br>
            <a href="mailto:363534569@qq.com">
                <span>E-mail : 229668002@qq.com</span>
            </a>
        </p>
    </div>
    <div class="startBtn">开启简历之旅</div>
</div>

<%
    fml.use('page/fang');
%>
<%# footer.html #%>