<html>
<head>
<title>ODay</title>
<meta charset="utf-8">
<script type="text/javascript" src="/fml.js"></script>
<script src="jq.js"></script>
<script type="text/javascript" src="/swiper.js"></script>
<script type="text/javascript" src="/bootstrap.js"></script>
<script type="text/javascript" src="/echart/build/dist/echarts-all.js"></script>
<link rel="stylesheet" type="text/css" href="/base.css"></link>

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin/"><b>ODay&nbsp&nbsp基于安全事件的预警与监控系统
</b></a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">